:root {
  --primary-color: #3d5caa;
}

html{
  scroll-behavior: smooth;
}

.clip-triangle {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 26% 100%);
}

.general-padding {
  padding: 0 4rem;
}

.header {
  background: url('./assets/images/headerbg.jpg');
  background-size: cover;
}
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('./assets/images/servicesbg.jpg');
  background-size: cover;
}
.navSection {
  background: rgba(255, 255, 255, 0.644);
}

.quote-form,
.about-box,
.stats,
.why-us {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.about-box,
.service-box {
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  overflow: hidden;
  z-index: 10;
}

.about-box::before,
.service-box::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  bottom: -101%;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease; /* Ensure the pseudo-element also transitions smoothly */
  z-index: -1;
}

.about-active-box::before,
.service-active-box::before {
  bottom: 0%;
  opacity: 1;
}
.about-active-box,
.service-active-box {
  h3,
  svg,
  p {
    color: white;
  }
}

.about-box h3,
.about-box svg {
  transition: color 0.3s ease 0.15s;
  -webkit-transition: color 0.3s ease 0.15s;
  -moz-transition: color 0.3s ease 0.15s;
  -ms-transition: color 0.3s ease 0.15s;
  -o-transition: color 0.3s ease 0.15s;
}

.about-box:hover h3,
.about-box:hover svg {
  color: white !important;
}
.about-box:hover::before,
.service-box:hover::before {
  bottom: 0%;
  opacity: 1; /* Use 1 instead of 100% for opacity */
}

.service-box:hover {
  border-color: transparent;
}

.service-shape {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.charts-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
}

.chart {
  text-align: center;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(
    var(--primary-color) 0deg,
    var(--primary-color) 0deg,
    transparent 0deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: '';
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: white;
}

.number {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a2930; /* Dark color for the text */
}

.label {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #1a2930;
  font-weight: 700;
  margin-top: 20px;
}

.fa-check-circle {
  width: 18px !important;
  height: 18px !important;
  margin-top: 3px;
}

.ready-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('./assets/images/ready-24-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
}

.ready-shape {
  clip-path: polygon(52% 0, 100% 0%, 100% 100%, 7% 100%);
}

.testimonials {
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.02)),
    url('./assets/images/testimonialbg.jpg');
  background-size: cover;
  background-position: center center;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.cta-shape {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 52% 100%);
}

@media (max-width: 768px) {
  .general-padding {
    padding: 0 2rem; /* Tablets */
  }
}

@media (max-width: 640px) {
  .general-padding {
    padding: 0 1rem; /* Mobiles */
  }
}
